body{
    background: rgba(187, 245, 179, 0.933);
}
.titulo{
    background: rgb(199, 165, 230);
    width: 50%;
    margin: auto;
    border-radius: 40px;

    
}
h1{
    font-family: unset;
    padding: 10px ;
    margin: 20px 0px;
    
    text-align: center;
    
}
.descripcion{
    background: seagreen;
    padding: 2%;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    margin: 15px;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: justify;
    color: rgb(201, 128, 32);
    
}
img{
width: 50%;
height: 100%;


}
.imagen{
    
    width: 100%;
    text-align: center;

}

h4{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: dashed;
    font-style: oblique;

}
form{
color: brown;
}
p{
    color: rgb(206, 209, 26);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    
}
.cuestionario{
    width: 50%;
    margin: auto;
}
@media(max-width:501px){
    .titulo{
        background: rgb(199, 165, 230);
        width: 100%;
        margin: auto;
        border-radius: 40px;
    
        
    }
    h1{
        color: aqua;
        font-size: 40px;
    }

}
@media(max-width:600px){
    .titulo{
        background: rgb(199, 165, 230);
        width: 100%;
        margin: auto;
        border-radius: 40px;
    
        
    }
    h1{
        color: aqua;
    }

}